/************************** Variables couleurs ******************************/

:root {
	--main-color: #0065fc;
	--second-color: #deebff;
	--third-color: #f2f2f2;
	--fourth-color: #fff;
	--text-color: #333;
  --shadow-color: rgb(239, 239, 239);
	--shadow-color2: rgb(211, 209, 209);
}
/******************************** General ***********************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
	max-width: 992px;
	margin: auto;
}

/******************************* Header ***********************************/
/**************************************************************************/

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 30px;
}

header .logo {
	width: 50%;
}

header .logo img {
	height: 40px;
	margin: 0 auto;
}

header ul {
	display: flex;
	list-style: none;
}

header li {
	margin: 0 10px;
	font-size: 15px;
}

header a {
	text-decoration: none;
	color: var(--text-color);
	cursor: pointer;
	padding: 5px 10px;
	font-weight: 400;
}

header a:hover {
	color: var(--main-color);
	border-top: 2px solid var(--main-color);
}
/***************************** Section Recherche **************************/
/**************************************************************************/

.section-recherche {
	padding: 0px 40px;
	width: 100%;
	height: 200px;
}

h1 {
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 700;
}

.section-recherche p {
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 300;
}

form {
	width: 30%;
	height: 35px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	border: 1px solid var(--third-color);
}

form label i {
	padding: 10px 15px;
	background: var(--third-color);
	border-radius: 10px 0 0 10px;
	font-size: 15px;
}

form input {
	height: 35px;
	border: none;
	padding-left: 10px;
	font-weight: 600;
	font-size: 15px;
	border: 1px solid var(--third-color);
}

form button {
	background: var(--main-color);
	padding: 8px;
	border-radius: 0 10px 10px 0;
	font-size: 15px;
	border: none;
	color: var(--fourth-color);
	font-weight: 600;
}

#search-mobile {
	display: none;
}

.filtres {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	height: 40px;
	flex-wrap: wrap;
}

.filtres h2 {
	padding-right: 10px;
	font-size: 15px;
	font-weight: bold;
}

.filtres button {
	margin-right: 15px;
	border: 2px solid var(--third-color);
	background: transparent;
	border-radius: 25px;
	padding-right: 10px;
}

.filtres span {
	font-weight: bold;
	font-size: 14px;
	padding: 5px 0;
	cursor: pointer;
}

.filtres button:hover {
	color: var(--main-color);
}

.filtres span i {
	width: 35px;
	height: 35px;
	padding: 10px;
	background: var(--second-color);
	margin-right: 7px;
	font-size: 14px;
	border-radius: 50%;
	color: var(--main-color);
}

.info span {
	font-size: 12px;
	display: flex;
	align-items: center;
	margin-top: 15px;
	font-weight: 300;
}

.info span i {
	width: 20px;
	height: 20px;
	text-align: center;
	margin-right: 10px;
	padding: 5px;
	border-radius: 50%;
	border: 1px solid var(--third-color);
	background: transparent;
	font-size: 10px;
}

/**************************** Section double ********************************/
/****************************************************************************/

.section-double {
	display: flex;
}

.hebergement,
.populaire {
	padding: 20px;
	background: var(--third-color);
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
}

.hebergement h2,
.populaire h2 {
	width: 100%;
	padding-left: 15px;
	font-size: 15px;
}

.carte-hebergement a:hover,
.carte-populaire a:hover {
	color: var(--main-color);
}
/**************************** Hebergement **************************************/

.hebergement {
	width: 60%;
	height: 450px;
	margin: 15px 20px 10px 40px;
}

.hebergement h2 {
	margin-bottom: 10px;
}
.carte-hebergement {
	align-items: center;
	background: var(--fourth-color);
	padding: 3px;
	margin: 10px;
	border-radius: 10px;
	width: 165px;
	box-shadow: 3px 3px 7px var(--shadow-color);
}
.carte-hebergement a {
	width: 160px;
	height: 145px;
	text-decoration: none;
	border: none;
	display: flex;
	flex-wrap: wrap;
	color: var(--text-color);
}

.carte-hebergement img {
	width: 160px;
	height: 65%;
	border-radius: 10px 10px 0 0;
	object-fit: cover;
}

.carte-hebergement h3 {
	font-size: 12px;
	font-weight: 700;
	padding: 5px 5px 0 5px;
}

.carte-hebergement p {
	padding: 0 5px;
	font-size: 12px;
	font-weight: 300;
	width: 100%;
}

.carte-hebergement div {
	border: none;
	background: transparent;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}

.carte-hebergement span {
	font-size: 8px;
	color: var(--main-color);
}

/*Notation*/
.carte-h1 span:last-child {
	color: var(--third-color);
}

.carte-h3 span:last-child {
	color: var(--third-color);
}

.carte-h4 span:nth-child(4),
.carte-h4 span:last-child {
	color: var(--third-color);
}

.carte-h5 span:last-child {
	color: var(--third-color);
}

.carte-hebergement span i {
	width: 9px;
}

#affichage {
	width: 100%;
	text-decoration: none;
	color: var(--text-color);
	font-weight: 700;
	font-size: 14px;
	padding: 15px 15px 10px;
}

#affichage:hover {
	color: var(--main-color);
}

/**************************** Populaire ************************************/

.populaire {
	width: 30%;
	margin: 15px 0px;
	height: 450px;
}

.titre {
	display: flex;
	width: 100%;
	height: 6%;
}

.titre span {
	font-size: 15px;
}

.carte-populaire {
	background: var(--fourth-color);
	padding: 3px;
	margin: 10px;
	border-radius: 10px;
	width: 250px;
	height: 105px;
	box-shadow: 3px 3px 7px var(--shadow-color);
}

.carte-populaire a {
	display: flex;
	color: var(--text-color);
	width: 220px;
	height: 100px;
	text-decoration: none;
}

.carte-populaire img {
	width: 85px;
	height: 100%;
	border-radius: 10px 0px 0 10px;
	object-fit: cover;
}

.carte-populaire h3 {
	font-size: 12px;
	font-weight: 700;
	padding: 5px 0px 5px 10px;
}

.carte-populaire p {
	padding: 0 10px;
	font-size: 12px;
	font-weight: 300;
}

.carte-populaire .texte div {
	border: none;
	background: transparent;
	padding: 20px 10px;
}

.carte-populaire span {
	font-size: 8px;
	color: var(--main-color);
}

.carte-populaire span i {
	width: 5px;
}

.texte {
	width: 150px;
}

.carte-p2 span:last-child {
	color: var(--third-color);
}

.carte-p3 span:last-child {
	color: var(--third-color);
}

/**************************** Activités ************************************/

.section-activites {
	display: flex;
	flex-direction: column;
}

.section-activites h2 {
	width: 90%;
	font-size: 15px;
	margin: 30px auto 0px;
}
.activite {
	display: flex;
	width: 100%;
	max-width: 920px;
	height: 400px;
	padding: 20px 0px;
	margin: 10px auto;
}

.carte-activite a:hover {
	color: var(--main-color);
}

.carte-activite {
	border-radius: 10px;
	width: 215px;
	height: 360px;
	display: flex;
	margin: 0 20px 0 0;
	border: 1px solid var(--third-color);
	box-shadow: 0px 3px 7px var(--third-color);
}

.carte-activite a {
	width: 220px;
	text-decoration: none;
	color: var(--text-color);
}

.carte-activite img {
	width: 215px;
	height: 315px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.double-asymetrique {
	display: flex;
	flex-direction: column;
}

.double-asymetrique .carte-activite:nth-child(1) {
	height: 200px;
	margin-bottom: 20px;
}

.double-asymetrique .carte-activite:nth-child(1) img {
	height: 160px;
}

.double-asymetrique .carte-activite:nth-child(2) {
	height: 140px;
}

.double-asymetrique .carte-activite:nth-child(2) img {
	height: 100px;
}

.double-symetrique .carte-activite {
	height: 170px;
	margin-bottom: 20px;
}

.double-symetrique .carte-activite img {
	height: 120px;
}

.section-activites h3 {
	font-size: 12px;
	font-weight: 700;
	padding: 10px 10px;
}

/**************************** Footer **************************************/
/**************************************************************************/

footer {
	background: var(--third-color);
	width: 100%;
	height: 180px;
	display: flex;
	align-items: center;
	padding: 0 40px;
	margin-top: 40px;
}

footer h4 {
	font-size: 16px;
}

footer div {
	width: 400px;
	height: 120px;
}

footer ul {
	padding: 10px 0;
	list-style: none;
	margin: auto;
}

footer a {
	text-decoration: none;
	font-size: 14px;
	color: var(--text-color);
	line-height: 1.70;
}

/************************* Media queries Tablette *************************/
/**************************************************************************/

@media (max-width: 991px) {

  header {
    padding: 25px 20px;
  }

	header .logo {
		padding: 20px 0px;
	}

	header a:hover {
		color: var(--main-color);
		border-top: none;
		border-bottom: 3px solid var(--main-color);
	}

	.filtres {
		width: 700px;
	}

	.section-double {
		width: 100%;
    max-width: 748px;
    margin: auto;
	}

	.hebergement {
		width: 70%;
		max-width: 420px;
		height: 600px;
    margin: auto;
	}

  .hebergement h2 {
    margin-bottom: 0;
  }

	.populaire {
		width: 40%;
		max-width: 310px;
    margin: auto;
		height: 600px;
    padding: 10px;
	}

	.activite {
		flex-wrap: wrap;
    max-width: 748px;
		height: auto;
		margin: 30px 0 10px 20px;
		padding: 0;
	}

	.activite div {
		padding-bottom: 30px;
	}

  .double-asymetrique {
    margin: auto;
  }

	.double-symetrique {
		display: flex;
	}

 .double-symetrique .carte-activite:nth-child(2) {
		margin: 0 20px;
	}

}

/************************* Media queries Mobile ****************************/
/***************************************************************************/

@media (max-width: 767px) {

	/********************************* Header *********************************/
	header {
		flex-direction: column;
		padding: 0;
		margin-bottom: 30px;
		width: 375px;
	}

	header .logo {
		display: flex;
	}

	header .logo img {
		width: 90px;
		height: 45px;
	}

	.navigation {
		width: 100%;
	}

	.navigation li {
		width: 100%;
		margin: auto;
		font-size: 16px;
	}

	.navigation a {
		border-bottom: 3px solid var(--third-color);
		display: block;
		text-align: center;
		padding: 15px;
	}

	/****************************** Recherche ******************************/

	.section-recherche {
		padding: 0px 20px;
		width: 375px;
		height: auto;
	}

	.recherche {
		margin: 25px 0;
	}

	.section-recherche h1 {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	.section-recherche p {
		font-size: 17px;
		margin-bottom: 30px;
	}

	form {
		width: 335px;
		height: 50px;
		position: relative;
		border: none;
	}

	form label i {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 17px;
		padding: 16px 18px;
    border-radius: 15px 0 0 15px;
	}

	form input {
		height: 50px;
		width: 315px;
    margin: auto;
		font-size: 18px;
		padding-left: 55px;
		border: 1px solid var(--third-color);
	}

	form button {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 16px;
		padding: 15px 16px;
	}

	#search-mobile {
		display: block;
    border-radius: 15px 15px 15px 15px;
	}

	#search-desktop {
		display: none;
	}

	/****************************** Filtres **********************************/

	.filtres {
		width: 100%;
		height: auto;
    margin: auto;
	}

	.filtres h2 {
		width: 100%;
		font-size: 18px;
    margin: 8px auto;
	}

	.filtres button {
		margin: 7px 0;
		border: 2px solid var(--third-color);
		border-radius: 50px;
    justify-content: space-between;
	}

	.filtres span {
		display: flex;
		align-items: center;
		font-size: 15px;
		font-weight: 700;
		padding: 0 10px 0 0;
    justify-content: center;
	}

	.filtres span i {
		width: 47px;
		height: 47px;
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
    margin-right: 10px;
	}

	.info {
	position: relative;

	}
	.info span {
		font-size: 15px;
		align-items: start;
		font-weight: 300;
		margin-left: 30px;
	}

	.info span i {
		position: absolute;
		top: 12px;
		left: 0;
    width: 25px;
    height: 25px;
    font-size: 12px;
	}

	/************************ section double ***************************/

	.section-double {
		flex-direction: column;
	}

	.hebergement,
	.populaire {
		width: 100%;
		max-width: 375px;
		height: auto;
    border-radius: 0;
    padding-bottom: 30px;
	}

	.titre h2, .titre span {
		font-size: 20px;
		font-weight: 700;
    padding: 20px 15px;
	}

	.populaire {
		order: 1;
		margin: 40px 0 10px;
		height: auto;
		flex-wrap: wrap;
		padding: 0 10px 30px;
	}

	.carte-populaire {
		width: 100%;
		height: 138px;
		margin: 5px;
    border-radius: 20px;
    box-shadow: 0 5px 7px var(--shadow-color2);
	}

	.carte-populaire a {
		width: 100%;
		height: 140px;
    border-radius: 15px;
	}

	.carte-populaire img {
		width: 130px;
		height: 130px;
    border-radius: 15px 0px 0 15px;
    padding: 2px 2px 0 2px;
	}

  .carte-populaire .texte {
    width: 100%;
  }

  .carte-populaire h3 {
    font-size: 16px;
    padding: 15px;
  }

  .carte-populaire p {
    font-size: 14px;
    padding: 0 15px;
  } 

  .carte-populaire span {
    font-size: 10px;
    color: var(--main-color);
  }

  .carte-populaire span i {
    width: 10px;
  }

	.hebergement {
		order: 2;
		width: 100%;
		height: auto;
		background: var(--fourth-color);
		padding: 20px 10px 0;
		margin: 5px 0 10px;
	}

	.hebergement h2 {
		font-size: 22px;
		font-weight: 700;
	}

	.carte-hebergement {
		width: 100%;
		height: 180px;
    border-radius: 20px;
    box-shadow: 0 5px 7px var(--shadow-color);
	}

	.carte-hebergement a {
		width: 100%;
		height: 150px;
		border-radius: 20px;
	}

	.carte-hebergement img {
		width: 100%;
		border-radius: 20px 20px 0 0;
		padding: 1px;
	}

	.carte-hebergement h3 {
		font-size: 16px;
		padding: 5px 10px;
	}

	.carte-hebergement p {
		padding: 3px 10px;
		font-size: 13px;
	}

	.carte-hebergement span i {
		width: 14px;
		padding: 0 5px;
	}
	.carte-hebergement span {
		font-size: 12px;
	}

	#affichage {
		font-size: 16px;
		padding: 15px 10px 10px;
	}

/************************ Section Activité ***************************/

	.section-activites h2 {
		width: 100%;
		margin: 30px 20px 20px;
		font-size: 22px;
	}

	.activite {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}

	.activite div {
		padding-bottom: 0;
	}

	.carte-activite {
		width: 100%;
		max-width: 335px;
		height: 190px;
    border-radius: 20px;
    box-shadow: 0 5px 7px var(--shadow-color);
		margin: 10px auto;
	}

	.carte-activite a {
		width: 100%;
		height: 160px;
		border-radius: 20px;
		margin: 0 auto;
	}

	.carte-activite img {
		width: 100%;
		max-width: 335px;
		height: 135px;
		object-fit: cover;
		border-radius: 20px 20px 0 0;
		padding: 0;
		margin: auto;
	}

	.carte-activite h3 {
		font-size: 16px;
		margin: 5px 10px;
	}

  .double-asymetrique, .double-symetrique {
    flex-direction: column;
		width: 100%;
  }

	.double-asymetrique .carte-activite:nth-child(1), 
	.double-asymetrique .carte-activite:nth-child(2),
	.double-symetrique .carte-activite:nth-child(1), 
	.double-symetrique .carte-activite:nth-child(2) {
		width: 100%;
		max-width: 335px;
		height: 190px;
    border-radius: 20px;
    box-shadow: 0 5px 7px var(--shadow-color);
		margin: 10px auto;
  }

	.double-asymetrique .carte-activite:nth-child(1) a,
	.double-asymetrique .carte-activite:nth-child(2) a,
	.double-symetrique .carte-activite:nth-child(1) a,
	.double-symetrique .carte-activite:nth-child(2) a  {
		width: 100%;
		height: 160px;
		border-radius: 20px;
		margin: 0 auto;
  }

	.double-asymetrique .carte-activite:nth-child(1) img,
	.double-asymetrique .carte-activite:nth-child(2) img,
	.double-symetrique .carte-activite:nth-child(1) img,
	.double-symetrique .carte-activite:nth-child(2) img  {
		width: 100%;
		max-width: 335px;
		height: 135px;
		object-fit: cover;
		border-radius: 20px 20px 0 0;
		padding: 0;
		margin: auto;
	}

	/************************ Footer ***************************/
	
	footer {
		flex-direction: column;
		width: 100%;
		max-width: 375px;
		height: auto;
		align-items: start;
		padding: 30px;
	}
	
	footer div {
		width: 100%;
		padding: 10px 0;
	}

	footer ul {
		padding: 15px 0;
	}

	footer li {
		padding: 5px 0;
	}

	footer a {
		font-size: 15px;
		font-weight: 300;
	}
}




