/**************************** Variables couleurs *********************************/

:root {
  --main-color: #0065FC;
  --second-color: #DEEBFF;
  --third-color: #f2f2f2;
  --fourth-color: #fff;
  --text-color: #333;
}
/**************************** General *********************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
  max-width: 992px;
  margin: auto;
  overflow-x: hidden;
}

/**************************** Header *********************************/

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 30px;
}

header .logo {
  width: 50%;
}

header .logo img {
	height: 40px;
	margin: 0 auto;
}

header ul {
	display: flex;
  list-style: none;
}

header li {
	margin: 0 10px;
	font-size: 15px;
}

header a {
	text-decoration: none;
	color: var(--text-color);
	cursor: pointer;
	padding: 25px 10px;
	font-weight: 400;
}

header a:hover {
	color: var(--main-color);
	border-top: 2px solid var(--main-color);
}
/***************************** Section Recherche **************************/

.section-recherche {
	padding: 0px 40px;
	width: 100%;
	height: 200px;
}

h2 {
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 700;
}

.section-recherche p {
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 300;
}

form {
	width: 30%;
	height: 35px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	border: 1px solid var(--third-color);
}

form label i {
	padding: 10px 15px;
	background: var(--third-color);
	border-radius: 10px 0 0 10px;
	font-size: 15px;
}

form input {
	height: 35px;
	border: none;
	padding-left: 10px;
	font-weight: 600;
	font-size: 15px;
}

form button {
	background: var(--main-color);
	padding: 8px;
	border-radius: 0 10px 10px 0;
	font-size: 15px;
	border: none;
	color: var(--fourth-color);
	font-weight: 600;
}

#search-mobile {
	display: none;
}

.filtres {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	height: 40px;
	flex-wrap: wrap;
}

.filtres h3 {
	padding-right: 10px;
	font-size: 15px;
	font-weight: bold;
}

.filtres button {
	margin-right: 15px;
	border: 1px solid var(--third-color);
	background: transparent;
	border-radius: 25px;
	padding-right: 10px;
}

.filtres span {
	font-weight: bold;
	font-size: 14px;
	padding: 5px 0;
  cursor: pointer;
}

.filtres button:hover {
  transform: translateY(-10px);
  color: var(--main-color);
}

.filtres span i {
	width: 35px;
	height: 35px;
	padding: 10px;
	background: var(--second-color);
	margin-right: 7px;
	font-size: 14px;
	border-radius: 50%;
	color: var(--main-color);
}

.info span {
	font-size: 12px;
	display: flex;
	align-items: center;
	margin-top: 15px;
	font-weight: 300;
}

.info span i {
	width: 20px;
	height: 20px;
	text-align: center;
	margin-right: 10px;
	padding: 5px;
	border-radius: 50%;
	border: 1px solid var(--third-color);
	background: transparent;
	font-size: 10px;
}

/**************************** Section double ***********************************/

.section-double {
  display: flex;
}

.hebergement, .populaire {
	padding: 20px;
  background: var(--third-color);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.hebergement h2, .populaire h2 {
  width: 100%;
  padding-left: 15px;
}

.carte-hebergement a:hover, .carte-populaire a:hover {
  color: var(--main-color);
}
/**************************** Hebergement **************************************/

.hebergement {
  width: 70%;
  max-width: 600px;
  height: 450px;
  margin: 15px 20px 10px 40px;
}

.hebergement h2 {
  margin-bottom: 10px;
}
.carte-hebergement{
  align-items: center;
  background: var(--fourth-color);
  padding: 3px;
  margin: 10px;
  border-radius: 10px;
  width: 165px;
  box-shadow: 3px 3px 3px lightgray
}
.carte-hebergement a {
  width: 160px;
  height: 145px;
  text-decoration: none;
  border: none;
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color);
}

.carte-hebergement img {
  width: 160px;
  height: 65%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.carte-hebergement h4 {
  font-size: 12px;
	font-weight: 700;
  padding: 5px 5px 0 5px;
}

.carte-hebergement p {
  padding: 0 5px;
	font-size: 12px;
	font-weight: 300;
  width: 100%;
}

.carte-hebergement button {
  border: none;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.carte-hebergement span {
  font-size: 8px;
  color: var(--main-color);
}

/*Notation*/
.carte-h1 span:last-child {
  color: var(--third-color);
}

.carte-h3 span:last-child {
  color: var(--third-color);
}

.carte-h4 span:nth-child(4), .carte-h4 span:last-child {
  color: var(--third-color);
}

.carte-h5 span:last-child {
  color: var(--third-color);
}

.carte-hebergement span i {
  width: 9px;
}

#affichage {
  width: 100%;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 14px;
  padding: 15px 15px 10px;
}

#affichage:hover {
  color: var(--main-color);
}

/**************************** Populaire ************************************/

.populaire {
  width: 30%;
  max-width: 300px;
  margin: 15px 0px;
  height: 450px;
}

.titre {
  display: flex;
  width: 100%;
  height: 6%;
}

.titre span {
  font-size: 15px;
}

.carte-populaire {
  background: var(--fourth-color);
  padding: 3px;
  margin: 10px;
  border-radius: 10px;
  width: 250px;
  height: 105px;
  box-shadow: 3px 3px 3px lightgray
}

.carte-populaire a {
  display: flex;
  color: var(--text-color);
  width: 220px;
  height: 100px;
  text-decoration: none;
}

.carte-populaire img {
  width: 85px;
  height: 100%;
  border-radius: 10px 0px 0 10px;
  object-fit: cover;
}

.carte-populaire h4 {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0px 5px 10px;
}

.carte-populaire p {
  padding: 0 10px;
	font-size: 12px;
	font-weight: 300;
}
 
.carte-populaire button {
  border: none;
  background: transparent;
  padding: 20px 10px;
}

.carte-populaire span {
  font-size: 8px;
  color: var(--main-color);
}

.carte-populaire span i {
  width: 5px;
}

.texte {
  width: 150px;
}

.carte-p2 span:last-child {
  color: var(--third-color);
}

.carte-p3 span:last-child {
  color: var(--third-color);
}

/**************************** Activités ************************************/

.section-activites {
  display: flex;
  flex-direction: column;
}

.section-activites h2 {
  width: 100%;
  margin: 30px 40px 0px;
}
.activite {
  display: flex;
  width: 100%;
  max-width: 920px;
  height: 400px;
  padding: 20px 0px;
  margin: 10px 0px 10px 40px;
}

.carte-activite a:hover {
  color: var(--main-color);
}

.carte-activite {
  border-radius: 10px;
  width: 215px;
  height: 360px;
  display: flex;
  margin: 0 20px 0 0;
  border: 1px solid var(--third-color);
  box-shadow: 0px 3px 3px var(--third-color);
}

.carte-activite a {
  width: 220px;
  text-decoration: none;
  color: var(--text-color);
}

.carte-activite img {
  width: 215px;
  height: 315px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.double-asymetrique {
  display: flex;
  flex-direction: column;
}

.double-asymetrique .carte-activite:nth-child(1) {
  height: 200px;
  margin-bottom: 20px;
}

.double-asymetrique .carte-activite:nth-child(1) img {
  height: 160px;
}

.double-asymetrique .carte-activite:nth-child(2) {
  height: 140px;
}

.double-asymetrique .carte-activite:nth-child(2) img {
  height: 100px;
}

.double-symetrique .carte-activite {
  height: 170px;
  margin-bottom: 20px;
}

.double-symetrique .carte-activite img {
  height: 120px;
}

.section-activites h4 {
  font-size: 12px;
	font-weight: 700;
  padding: 10px 10px;
}

/**************************** Footer ************************************/

footer {
  background: var(--third-color);
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  margin-top: 40px;
}

footer h3 {
  font-size: 16px;
}

footer div {
  width: 400px;
}

footer ul {
  padding: 10px 0;
  list-style: none;
}

footer a{
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color);
}




/************************* Media queries Tablette *************************/

@media (max-width: 991px) {

	header .logo {
		padding: 20px 0px;
	}

	header a:hover {
		color: var(--main-color);
		border-top: none;
		border-bottom: 3px solid var(--main-color);
	}

	.filtres {
		width: 700px;
	}

  .section-double {
    width: 991px;
  }

  .hebergement {
    width: 70%;
    max-width: 410px;
    height: 610px;
    margin: 15px 20px 10px 20px;
  }

  .populaire {
    width: 30%;
    max-width: 300px;
    margin: 15px 0px;
    height: 610px;
  }

  .activite {
    flex-wrap: wrap;
    height: auto;
  }

  .activite div {
    padding-bottom: 20px;
  }

  .double-symetrique {
    display: flex;
  }
}

/************************* Media queries Mobile ****************************/

/* @media (max-width: 767px) {
	header {
		flex-direction: column;
		padding: 0;
		margin-bottom: 30px;
	}

	header .logo img {
		width: 100px;
		height: 50px;
	}

	.navigation ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navigation li {
		width: 100%;
		margin: 0;
	}

	.navigation a {
		border-bottom: 3px solid var(--third-color);
		display: block;
		text-align: center;
		padding: 15px;
	}

	.section-recherche {
		padding: 0px 20px;
	}

	.recherche {
		margin-bottom: 25px;
	}

	.section-recherche h2 {
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	.section-recherche p {
		font-size: 16px;
		margin-bottom: 30px;
	}

	form {
		width: 330px;
		height: 50px;
		justify-content: center;
	}
	form label i {
		font-size: 18px;
		padding: 15px 20px;
	}

	form input {
		height: 50px;
		width: 230px;
		font-size: 18px;
	}

	form button {
		font-size: 15px;
		padding: 15px 15px;
	}

	#search-mobile {
		display: block;
		border-radius: 15px;
	}

	#search-desktop {
		display: none;
	}

	.filtres {
		width: 100%;
		flex-wrap: wrap;
	}

	.filtres h3 {
		width: 100%;
		margin-bottom: 12px;
	}

	.filtres button {
		margin: 0 15px 15px 0;
		border: 2px solid var(--third-color);
	}

	.filtres span {
		display: flex;
		align-items: center;
		padding: 0;
	}

	.filtres span i {
		width: 45px;
		height: 45px;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
	}

	.info span {
		font-size: 16px;
		align-items: start;
	}

	#test {
		width: 20px;
		height: 20px;
		font-weight: 700;
		font-size: 12px;
		padding: 8px;
		border: 2px solid var(--third-color);
	}
} */
